.top{
	position:relative;
	width:100%;
	min-width: 1200px;
	height:40vh;
	background:url(../images/about/top-bg.jpg) center center no-repeat;
	background-size:cover;
}
.top h1{
	position:absolute;
	text-align: center;
	top:50%;
	width:100%;
	margin-top:-30px;
	color:#eee;
	font-size:40px;
}

.title{
	position:relative;
	font-size:20px;
	font-weight: bold;
	color:#333;
	padding-left:20px;
	padding-bottom:2px;
	border-bottom:1px solid #d2d2d2;
	margin-top:40px;
}
.title span{
	position:absolute;
	left:0;
	top:-3px;
	width:15px;
	height:36px;
	display:inline-block;
	background:url(../images/index/small-nav.jpg);
}
.text .con{
	margin-top:30px;
}
.text .con h3{
	font-size:14px;
	color:#333;
	padding-left:20px;
	margin-bottom:10px;
}
.text .con p{
	font-size:12px;
	color:#666;
	line-height: 24px;
	padding-left:20px;
}
.web{
	padding-bottom:40px;
}
.text .con p a{
	color:#0068b7;
}


/**pics***/
.pic{
	width:40%;
	height:auto;
}
.pic p{
	width: 100%;
    height: 230px;
    background: wheat;
    margin-top: 50px;
}
.me .pic p:nth-of-type(1){
	background:url(../images/about/01.jpg) center center no-repeat;
	background-size:cover;
}
.me .pic p:nth-of-type(2){
	background:url(../images/about/02.jpg) center center no-repeat;
	background-size:cover;
}
.web .pic p{
	background:url(../images/about/03.jpg) center center no-repeat;
	background-size:cover;
}
