<link rel='stylesheet' href='/stylesheets/about.css' />
<% include header.ejs %>
<div class="top">
	<h1>ABOUT ME</h1>
</div>
<div class="contain">
	<div class="title"><span></span>关于我</div>
	<div class="text me">
		<div class="fl-l info">
			<div class="con">
				<h3>自传</h3>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					我是一名正儿八经的农村留守儿童，可能是艰苦的生活状况让我从很小就有了以后一定要提高生活质量的决心。<br>于是，经过一些努力考上了南通大学艺术学院。然而大学时发现自己并不感兴趣自己的动画专业，于是在偶然接触<br>web前端时发现不论是就业前景，还是在符合自己的兴趣及性格特点方面，前端绝对是适合自己。于是便在大二时<br>
					开始了前端学习生涯。<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					前端最核心的语言就是HTML、CSS、JS。然而学习前端并非掌握这些就行，JQUERY、BOOTSTRAP、ANG<br>ULAR、VUE、NODE等等这些常用的库或框架也得学习。于是在毕业后的工作中，我通过“EXPRESS搭建多人博<br>客系统”、“SOCKIT.IO在线聊天室”、“REDIS搭建漂流瓶服务器”等等这些项目来学习这些语言。包括本站也是用了<br>NODE
					搭建的后台，实现了留言和部分论坛功能。
				</p>
			</div>
			<div class="con">
				<h3>简历</h3>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在线简历：<a target="_bank" href="/resume">chuck.website:666/resume</a><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;视频简历：<a target="_bank" href="http://v.youku.com/v_show/id_XODU4MTQ4MjM2.html?spm=a2hzp.8253869.0.0&from=y1.7-2">0x9.me/rqUWK</a>
				</p>
			</div>
			<div class="con">
				<h3>自我评价</h3>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					正如上述自传中提到的我是名留守儿童，而且条件也不太好，这样的环境让我在很多方面比较独立。由于奶奶<br>
					年事已高，家中的很多活都由我来做，一个人上街买菜、一个人去机面房机面、一个人刨地种菜等等这些活已成了<br>家常便饭。但独立的性格对我来说也是种财富，因为至少让我在解决问题时不会去依赖任何人。每次敲代码时遇到<br>
					的bug能否解决、每次买菜讨价还价时能否合理、每次刨地刨不下去时是否能够有咬咬牙坚持下去的劲头等等这些<br>
					问题我都要说yes。<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					在现在的生活中，为了丰富自己的生活，我喜欢上打篮球、弹吉他、K歌。将来的梦想就是赚很多很多钱，投<br>
					资自己，投资自己的人生。
				</p>
			</div>
		</div>
		<div class="fl-r pic">
			<p></p>
			<p></p>
		</div>
	</div>
	<div class="clear"></div>
	<div class="title"><span></span>关于本站</div>
	<div class="text web">
		<div class="fl-l info">
			<div class="con">
				<h3>本站简介</h3>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Chuck个人网站是一名名叫ChuckChen的前端开发工程师于2017年2月开发，6月份正式上线的个人网站，总<br>
					耗时4个月。本站由个人独立设计、文案整理、开发、测试、部署上线运行的，所用到的技术有PS、H5、CSS3、<br>
					JQUERY、NODE、MONGODB等。本站的目的是对Chuck个人进行形象宣传，以及其个人的博文分享。网友有任<br>何想法都可到留言区进行留言，同时如果对博文区的文章有建议或想法的也可以对其进行回复评论。<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					此网站的留言功能和博客功能目前已开发完成，整个网站即将在四月底或五月初正式发布，敬请期待！
				</p>
			</div>
		</div>
		<div class="fl-r pic">
			<p></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<% include footer.ejs %>
<script>
	$(function(){
		nav(1);
		PullDownMenu();
	})
</script>