 	 </div>
 	 <div class="clear"></div>
 	 <div class="footer">
	 	<div class="contain">
	 	 	<p class="fl-l">苏ICP备17020523号</p>
	 	 	<p class="totalNum">浏览量
	 	 		<!--script language="javascript" type="text/javascript" src="http://quote.51.la/?id=19118293&amp;mb=2"></script-->
		 	 	<script language="javascript" type="text/javascript" src="/javascripts/19118293.js"></script>
				<noscript><a href="http://www.51.la/?19118293" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/19118293.asp" style="border:none" /></a></noscript>
			</p>
	 	 	<p class="fl-r">查克个人网站</p>
 	 	</div>
 	 </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/jquery.qqFace.js"></script>
  <script src="/javascripts/common.js"></script>
<script type="text/javascript" src="//js.users.51.la/19503886.js"></script>
</html>
