 <link rel='stylesheet' href='/stylesheets/index.css' />
<% include header.ejs %>
<audio autoplay="true" id="audio" loop="loop" preload="metadata" src="http://lzscuw.changba.com/1056015300.mp3"></audio>
<div class="small-nav">
	<div class="arr">
		<span></span>
		<span></span>
	</div>
	<ul>
		<li class="active"><span></span>Welcome</li>
		<li><span></span>About me</li>
		<li><span></span>Works</li>
		<li><span></span>Blog</li>
		<li><span></span>Leave words</li>
		<div class="clear"></div>
	</ul>
</div>
 <div class="page welcome">
 	<p>WELCOME</p>
 	<div class="text">
 		<h1>欢迎来到CHUCK个人网站</h1>
 		<h3>
	 		Chuck是一名视金钱如粪土但热爱粪土的web前端开发工程师、<br>
			全栈工程师、网站架构师、小程序开发工程师、项目经理、技术总监<br>
			等等这些都是我以后要担任的职位。
		</h3>
 	</div>
 	<div class="scroll-more"></div>
 	<div class="scroll-text" style="color:#ccc;">Scroll your mouse</div>
 </div>
 <div class="page about">
 	<p>ABOUT ME</p>
 	<div class="text">
 		<h1>一名搞艺术的前端工程师<span>（嘘！这背景图是盗的）</span></h1>
 		<h3>
 			毕业于南通大学艺术学院的IT工程师，懂美术、懂编程、更懂品位。<br>
			自学IT技术、独自扎根上海。<br>
			梦想是我的动力，执着是我的态度。
 		</h3>
 		<p><a href="/about">关于更多我</a></p>
 	</div>
 	<div class="scroll-more"></div>
 	<div class="scroll-text" style="color:#eee;">Scroll your mouse</div>
 </div>
 <div class="page works">
 	<p>WORKS</p>
 	<div class="text">
 		<h1>这些是我的作品</h1>
 		<h3>学海无边 回头是岸</h3>
 		<p><a href="/works">更多作品</a></p>
 	</div>
 	<div class="lists">
		<ul>
			<li>
				<a target="_blank" href="http://www.cwcc.net.cn/">
					<div class="img img-item1"></div>
					<div class="t">
						<h1>上海中世建设咨询有限公司<br><span>公司官方网站</span></h1>
						<h3>
							项目类型：公司官网<br>
							开发时间：2016年2月<br>
							项目简介：独立完成前端开发工作，总耗时一周。<br>
							所在公司类型：系统开发
						</h3>
					</div>
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.orange360.cn">
					<div class="img img-item2"></div>
					<div class="t">
						<h1>火橙优选<br><span>创业公司官方网站</span></h1>
						<h3>
							项目类型：公司官网<br>
							开发时间：2016年3月<br>
							项目简介：协助开发前端工作，总耗时一个月。<br>
							所在公司类型：系统开发
						</h3>
					</div>
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.chuckchen.top:8080/soco1/p-portal/">
					<div class="img img-item3"></div>
					<div class="t">
						<h1>速珂智能科技（上海）有限公司<br><span>公司官方网站（放在自己的服务器上的，有点慢，请见谅！）</span></h1>
						<h3>
							项目类型：公司官网<br>
							开发时间：2016年6月<br>
							项目简介：团队协作完成前端开发工作，近两月。<br>
							所在公司类型：速珂电动创业公司
						</h3>
					</div>
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.supersoco.com">
					<div class="img img-item4"></div>
					<div class="t">
						<h1>速珂智能科技（上海）有限公司<br><span>公司官方网站二期开发</span></h1>
						<h3>
							项目类型：公司官网<br>
							开发时间：2013年2月-4月<br>
							项目简介：协作完成前端开发工作，目前正在开发中。<br>
							所在公司类型：速珂电动创业公司
						</h3>
					</div>
				</a>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
 	<div class="scroll-more"></div>
 	<div class="scroll-text">Scroll your mouse</div>
 </div>
 <div class="page blog">
 	<p>BLOG</p>
 	<div class="text">
 		<h1>上班如上坟 <span>(嘘！这背景图还是盗的)</span></h1>
 		<h3>
	 		你知道前端需要学哪些技术吗；<br>
			你知道是哪些鸡汤能让你坚持不懈吗；<br>
			你知道未来的发展史吗；<br>
			在这里，我都可以告诉你！
		</h3>
		<p><a href="/blog-article/1">欢迎进入我的博客</a></p>
 	</div>
 	<div class="scroll-more"></div>
 	<div class="scroll-text" style="color:#ccc;">Scroll your mouse</div>
 </div>
 <div class="page leave">
 	<p>LEAVE WORDS</p>
 	<div class="text">
 		<h1>有什么看我不爽的吗?</h1>
 		<h3>把他娘的意大利炮拿来！</h3>
 		<p class="leave-btn"><a href="/leave-words">留言</a></p>
 	</div>
 	<div class="scroll-more"></div>
 	<div class="scroll-text">Scroll back</div>
 </div>
<% include footer.ejs %>
<script src="/javascripts/jquery.mousewheel.min.js"></script>
<script src="/javascripts/jquery.easing.min.js"></script>
<script src="/javascripts/pageScroll.js"></script>
<script>
	$(function(){
		nav(0);
		PullDownMenu();
		$('.content').css('padding-top',0);
		pageScroll($('.page'),5,$('.small-nav ul li'));//////整屏滚动
	})
</script>
