 <link rel='stylesheet' href='/stylesheets/login.css' />
<% include header.ejs %>
<div class="bg">
	<div class="login">
		<h1 class="t">注册</h1>
		<form method="post" onsubmit="return check(this)">
			<p id="errInfo" class="<%= err %>">*<%= errInfo %></p>
			<label><span>用户名</span><input id="username" name="name" type="text" placeholder="请输入用户名" autofocus="autofocus"></label>
			<label><span>密码</span><input name="password" type="password" placeholder="请输入密码"></label>
			<label><span>确认密码</span><input name="pasword-repeat" type="password" placeholder="请再次输入密码"></label>
			<label><span>邮箱</span><input name="email" type="email"></label>
			<p class="reg"><a href="login">已有账号?去登录</a></p>
			<label><input type="submit" value="注册"></label>
		</form>
	</div>
</div>
<% include footer.ejs %>
<script>
	function check(form){
		 if(form.name.value=='') {
	 		$('#errInfo').addClass('err');
	 		$('#errInfo').html('*用户名必填哦');
            form.name.focus();
            return false;
      	 }
      	 if(form.password.value==''){
      	 	$('#errInfo').addClass('err');
	 		$('#errInfo').html('*密码必填哦');
            form.password.focus();
            return false;
         }
         return true;
	}
	$(function(){
		nav(5);
		PullDownMenu();
	})
</script>