<link rel='stylesheet' href='/stylesheets/works.css' />
<% include header.ejs %>
<div class="top">
	<h1></h1>
</div>
<div class="works">
	<div class="contain">
		<div class="session co">
			<div class="title"><span></span>公司作品</div>
			<div class="lists">
				<ul>
					<li>
						<a target="_blank" href="http://www.cwcc.net.cn/">
							<h3>01 上海中世建设咨询有限公司</h3>
							<p>
								中世官网前端部分是由本人独立完成的，此网站也是本人人生第一个完整的作品。功能相对来说比较简单，但对于当时的技术能力，导航的悬浮效果还是花了些时间的。通过此网站的开发，最大的收获就是css3和jq的结合使用，鼠标悬浮在导航上时，给当前导航添加一个类即可调用此类所定义的效果。
							</p>
							<div class="img img-item1"></div>
						</a>
					</li>
					<li>
						<a target="_blank" href="http://www.orange360.cn">
							<h3>02 火橙优选</h3>
							<p>
								火橙优选是一个创业公司的网站，是我第一次与同事合作共同完成的项目。当时的难度无非就是手机端的适配，由于安卓手机的尺寸太多太杂，很多情况也得做些排版和布局上的调整。比如Galaxy S5和iphone5，前者显示的字体相对较小，而后者则会偏大，为了适配，最终只能做到中间化。
							</p>
							<div class="img img-item2"></div>
						</a>
					</li>
					<li>
						<a target="_blank" href="http://www.chuckchen.top:8080/soco1/p-portal/">
							<h3>03 速珂智能科技（上海）有限公司（一期）</h3>
							<p>
								速珂是个创业公司，也是我目前所在的公司。速珂智能科技官网也是由本人和同事协作完成，从前期的策划到设计再到开发最终上线，花费了整个团队小半年的时间。开发部分就耗时整整一个半月的时间，6月20号官网上线的前一天，我们还在通宵。
								可以说此次在团队中技术以外的收获比技术还要重要。
							</p>
							<div class="img img-item3"></div>
						</a>
					</li>
					<li>
						<a target="_blank" href="http://www.supersoco.com">
							<h3>04 速珂智能科技（上海）有限公司（二期）</h3>
							<p>
								在开发速珂官网一期时，我们确实走了很多弯路，比如到了6月20号上线的前一天，居然需求还在变动，最终素材才给到。不过我们在二期时吸取了一期的教训，在开发前做好充分的准备，目前二期正在准备素材，坚决在开发官网前做到万无一失。
							</p>
							<div class="img img-item4"></div>
						</a>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
		<div class="session personal">
			<div class="title"><span></span>个人作品</div>
			<div class="lists">
				<ul>
					<li>
						<a target="_bank" href="http://www.chuckchen.top:8080/graduation/">
							<h3>01 叫理发师（请使用谷歌或火狐浏览器打开）</h3>
							<p>
								《叫理发师》是一个可以让用户在线预订理发师上门服务的网站平台，也是我在大学时与计算机学院的几个同学的创业项目，同时也是我的毕业作品。由于多种原因，最终没能做成而没有上线。但前端部分完成了，里面用了大量的css3的animation和transition效果，还有3d过渡效果等等。
							</p>
							<div class="img img-item1"></div>
						</a>
					</li>
					<li>
						<a target="_bank" href="http://www.chuckchen.top:8080/web/">
							<h3>02 纸艺术（请使用谷歌或火狐浏览器打开）</h3>
							<p>
								《纸艺术》是一个在设计上具有创意性、在技术实现上具有难度性、在资源内容上具有丰富性的中国纸艺术形象宣传类网站。网站片头是用flash实现的动画，轻量的特点让它运行速度很快。内容部分介绍剪纸、折纸、纸雕三种类型的纸艺术，还有教程及纸艺人的介绍，加上呈现这些内容的丰富交互动画效果，让整个网站颇具创意及趣味。
							</p>
							<div class="img img-item2"></div>
						</a>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
		<div class="session personal-work">
			<div class="title"><span></span>自频道</div>
			<div class="lists">
				<ul>
					<li class="youku">
						<span><i></i>&nbsp;优酷自频道</span>
						<a target="_bank" href="http://i.youku.com/i/UNTg0OTQ4MTYw/videos?spm=a2hzp.8244740.0.0">i.youku.com/i/UNTg0OTQ4MTYw</a>
					</li>
					<li class="wechat">
						<span><i></i>&nbsp;微信</span>
						<a target="_bank" href="javascript:">chucksui<p></p></a>
					</li>
					<li class="sina">
						<span><i></i>&nbsp;微博</span>
						<a target="_bank" href="http://weibo.com/u/3824642305">weibo.com/u/3824642305</a>
					</li>
					<li class="changba">
						<span><i></i>&nbsp;唱吧</span>
						<a target="_bank" href="http://t.cn/Rig3aUs">t.cn/Rig3aUs</a>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include footer.ejs %>
<script>
	$(function(){
		nav(2);
		PullDownMenu();
	})
</script>